<%- include("header") -%>

<h1>This is the about page.</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error maiores quis, quibusdam id quos est velit ipsum, eum sunt iste esse incidunt veritatis repellendus impedit nisi molestiae. Doloribus, voluptas ad.</p>

<%- include("footer") -%>